
:root {
    --phone-width: 684px;
    --tablet-width: 900px;
    --content-width: 1200px;
}

:root[data-theme="dark"] {
    --background: #232425;
    --background-secondary: #3b3d42;
    --background-tertiary: #4e4e57;
    --background-header: #1b1c1d;
    --text-primary: #D4D4D9;
    --text-variant: #white;
    --text-secondary: #bfbfc6;
    --text-tertiary: #9fa1a8;
    --border-color: #e1e1e1;
    --accent-primary: #61988E;

    --laptop-chassis: #e0e2e2;
}

:root[data-theme="light"] {
    --background: #fff;
    --background-secondary: #eaeaea;
    --background-tertiary: #dcdcdc;
    --background-header: #fafafa;
    --text-primary: #222;
    --text-variant: black;
    --text-secondary: #999;
    --border-color: #dcdcdc;
    --accent-primary: #61988E;

    --laptop-chassis: #a0a2a2;
}


$phone-width: 684px;
$tablet-width: 900px;