@import "my-variables";
@import "window";
@import "fonts";
@import "codeblock";


.post, .posts {
    max-width: 1000px;

    .window__header {
        height: 60px;
        .post-title {
            margin: 0;
            font-size: 1.625rem;
        }
        
    }
    .window__inner {
        .post-content {
            margin-top: 0;
            font-family: 'Lora', serif;
        }
        h2 {
            margin-top:0;
        }
    }
}

@media (max-width:$phone-width) {
    .theme-toggle {
        display: none;
    }
    .logo__custom {
        display: none;
    }
    .post .window__header .post-title {
        font-size: 1.25rem;
    }
    .post-content ol {
        margin-left: 40px;
    }
}

body {
    background-size: 50px 50px;
    background-image:
        linear-gradient(to right, grey 1px, transparent 1px),
        linear-gradient(to bottom, grey 1px, transparent 1px);
    font-family: 'Space Mono', monospace;
    main {
        max-width: 1200px;
        align-self: center;
        .window div.header {
        background-color: transparent;
    }
    }
    header.header {
        border: 1px solid var(--border-color);
        border-radius: 10px;
        box-shadow: 4px 4px var(--border-color);
        width: 100%;
        max-width: calc(var(--content-width) + 40px);
        align-self: center;
        margin: 20px;

        .header__inner {
            width: 100%;
            max-width: calc(var(--content-width) + 40px);
        }
    }

    
}