@import "my-variables";
@import "window";
@import "fonts";
@import "codeblock";
@import "pinned-posts";
@import "git-commits";
@import "blockquote";


.post, .posts {
    max-width: 1000px;

    .window__header {
        height: 60px;
        .post-title {
            margin: 0;
        }
        
    }
    .window__inner {
        padding: 20px;
        article {
            display: flex;

            &:has(.github-commits-container) {
                justify-content: space-between;
            }
        }
        .post-content {
            margin-top: 0;
            color: var(--text-secondary);
        }
        h2 {
            margin-top:0;
        }
    }
}

@media (max-width:$phone-width) {
    .theme-toggle {
        display: none;
    }
    .logo__custom {
        display: none;
    }
    .post .window__header .post-title {
        font-size: 1.25rem;
    }
    .post-content ol {
        margin-left: 40px;
    }
}

body {
    background-size: 50px 50px;
    background-image:
        linear-gradient(to right, grey 1px, transparent 1px),
        linear-gradient(to bottom, grey 1px, transparent 1px);
    font-family: 'Space Grotesk', monospace;
    color: var(--text-primary);
    main {
        max-width: 1200px;
        align-self: center;
        .window div.header {
        background-color: transparent;
    }
    }
    header.header {
        border: 1px solid var(--border-color);
        border-radius: 10px;
        box-shadow: 4px 4px var(--border-color);
        width: 100%;
        max-width: calc(var(--content-width) + 40px);
        align-self: center;
        margin: 20px;

        .header__inner {
            width: 100%;
            max-width: calc(var(--content-width) + 40px);
            color: var(--text-primary);
        }
    }

}
.hidden {
    display: none !important;
}
/* Reset some default styles 
    letter-spacing: .06em;
    --phoneWidth: (max-width: 684px);
    --tabletWidth: (max-width: 900px);
    --phone-width: 684px;
    --tablet-width: 900px;
    --content-width: 1200px;
    --background: #232425;
    --background-secondary: #3b3d42;
    --background-header: #1b1c1d;
    --text-primary: #a9a9b3;
    --text-variant: #white;
    --text-secondary: #b3b3bd;
    --border-color: #e1e1e1;
    --accent-primary: #61988E;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-feature-settings: "liga","tnum","case","calt","zero","ss01","locl";
    -webkit-text-size-adjust: 100%;
    font-size: 1rem;
    font-family: space mono,monospace;
    color: #a9a9b3;
    text-align: left;
    line-height: normal;
    list-style: none;
    box-sizing: inherit;
    border-bottom: 1px grey dashed;*/


details {
    summary {
        margin-block: 1em;;
        cursor: pointer;
        outline: none;
    }

    &[open] {
        
        > :not(summary) {
            padding-left: 15px;
            padding-right: 20px;
            margin-left: 5px;
            border-left: 1.5px solid var(--text-tertiary);
        }
    }
}

div.highlight {

    pre {
        border: 1.5px solid var(--border-color);
        border-radius: 3px;
        box-shadow: none !important;
    }

    .toolbar {
        right: 0.5em;
    }
}

div.social-icons {
    border-top: 2px solid var(--border-color);
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;

    a {
        display: flex;
        padding-left: 5px;
        padding-right: 5px;
    }
}

.logo__cursor {
    background: var(--accent-primary);
}