{{ define "main" }}
    <main>
        {{ $underConstruction := partial "under-construction.html" . }}
        {{ $portrait := "" }}
        {{ if .Site.Params.Portrait.Path }}
            {{ $portrait = printf "<img src='%s' class='circle' alt='%s' style='max-width:%s' />" .Site.Params.Portrait.Path .Site.Params.Portrait.Alt .Site.Params.Portrait.MaxWidth }}
        {{ end }}
        {{ $title := printf "<h1>%s</h1>" .Site.Title }}
        {{ $subtitle := "" }}
        {{ with .Site.Params.homeSubtitle }}
            {{ $subtitle = printf "<p>%s</p>" . }}
        {{ end }}
        {{ $social := "" }}
        {{ with .Site.Params.social }}
            {{ $social = printf "<div>%s</div>" (partial "social-icons.html" .) }}
        {{ end }}
        {{ $content := printf "%s<div>%s%s%s%s</div>" $underConstruction $portrait $title $subtitle $social }}
        {{ partial "window.html" (dict "content" (safeHTML $content)) }}
    </main>
{{ end }}