{{- $preview := .Get "preview" | default "false" -}}
{{- $identifier := .Get "id" -}}

<div
    {{ if $identifier }} id={{ $identifier }} {{ end }} 
        class="window code-block hidden">
    <div class="window__header">
        <div class="actions">
            <span class="circle"></span>
            <span class="circle"></span>
            <span class="circle"></span>
        </div>
        <div class="code-copy">
            <button class="code-copy-button">Copy</button>
            <textarea class="hidden">{{ .Inner }}</textarea>
        </div>
    </div>

    {{- if $preview -}}
        <div class="code-preview">
            {{ .Inner | safeHTML }}
        </div>
    {{- end -}}

    {{ $lang := "html" -}}
    {{ transform.Highlight .Inner $lang  }}
  
    </div>